.container {
  margin-left: 15%;
  display: flex;
  justify-content: space-between;
}

.productDesc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  margin: 0px 10% 0px 10%;
}

.ProductPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
}

.checkout {
  text-align: centers;
  width: 30%;
  height: 15%;
}