.container {
  width: 80%;
  margin:2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .productDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .productImage{
    width: 60%;
  }
  .productPrice {
    width: 60%;
  }
  .checkout {
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) and (max-width: 1000px){
  .detailSection {
    width: 30%;
  }
  .descriptionSection {
    width: 40%;
  }
  .productImage{
    width: 40%;
    margin-right:2rem;
  }
  .productPrice {
    width: 40%;
    height: 100%;
  }
  .title {
    height: 15%;
  }
  .checkout {
    font-size: 1.2rem;
  }
}

@media (min-width: 1000px) {
  .productImage{
    width: 30%;
    margin-right:4rem;
  }
  .productPrice {
    width: 30%;
    height: 100%;
  }
  .title {
    height: 12%;
  }
}

.main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.img {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 10px -5px rgb(53,53,53)
}

.productPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  height: 10%;
  margin-bottom: 3rem;
}

.price {
  height: 50%;
  border: .1rem solid #dadada;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgb(140,140,140);
  text-align: center;
  padding:10px;
}

.emphasis {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(174, 76, 67);
}

.deletePrice {
  text-decoration: line-through;
  font-size: 1rem;
}

.submit {
  margin-top: 2rem;
  height: 5%;
  width: 92%;
  text-align: center;
  vertical-align: end;
  padding:0.7rem;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: rgb(218, 125, 56);;
}


.submit:hover {
  background-color: rgb(183, 96, 10);
}

.checkout {
  color: white;
  font-weight: bold;
}


.productDesc {
  width: 100%;
  display: flex;
  justify-content: space-around;
  color:#545658;
}

.detailSection {
  width: 40%;
  height: 100%;
  min-width: 300px;
}

.details {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}

.row {
  display: flex;
  border-bottom: 1px dashed #dadcdf;
  align-items: center;
  border-collapse: collapse;
}

.firstCol {
  width: 20%;
  border-left: 2px solid red;
  line-height: 1;
  margin: 8px 16px 8px 0;
  padding-left: 10px;
  max-width: 200px;
  min-width: 50px;
}

.secCol {
  width: 80%;
  display: table-cell;
  padding: 5px 15px;
}

.detailTable tr {
  border: 10px dashed #545658;
}

td {
  vertical-align: center;
  height: 30px;
}

.website {
  color:#545658
}

.website:hover {
  color:rgb(174, 76, 67);
}

.descriptionSection {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 300px;
}