.container {
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  display: flex;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .productDesc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .productImage{
    width: 60%;
  }
  .productPrice {
    width: 60%;
  }
  .checkout {
    height: 3rem;
    font-size: 1.5rem;
  }
}

@media (min-width: 600px) {
  .productImage{
    width: 40%;
    margin-right:2rem;
  }
  .productPrice {
    width: 40%;
  }
  .checkout {
    height: 2.4rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 900px) {
  .productImage{
    width: 30%;
    margin-left: 10%;
    margin-right:4rem;
  }
  .productDesc {
    margin: 0px 10% 0px 10%;
  }
}

.img {
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 10px -5px rgb(53,53,53)
}

.detail {
  height: 30%;
  text-align: left;
}

.productPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  height: 10%;
  margin-bottom: 3rem;
}

.price {
  height: 50%;
  border: .1rem solid #dadada;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 0px rgb(140,140,140);
  text-align: center;
  padding:10px;
}

.emphasis {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(174, 76, 67);
}

.deletePrice {
  text-decoration: line-through;
  font-size: 1rem;
}

.submit {
  margin-top: 2rem;
  height: 10%;
}

.checkout {
  text-align: center;
  width: 100%;
  height: 3rem;
  background-color: rgb(174, 76, 67);
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
}

.checkout:hover {
  background-color: rgb(134, 28, 28);
}

.productDesc {
  display: flex;
  justify-content: space-between;
  color:rgb(53, 53, 53);
}

.detail {
  width: 40%;
  height: 100%;
  padding: 20px;
}

td {
  vertical-align: center;
  height: 30px;
}

.website {
  color:rgb(53, 53, 53);
}

.website:hover {
  color:rgb(174, 76, 67);
}

.description {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 300px;
}