.form {
  display: flex;
  flex-direction: column;
  margin-left:15%;
  margin-right: 10%;
}

.checkout {
  height: 60%;
}

.main {
  display: flex;
  justify-content: space-around;
}

input {
  height: 2rem;
  border: .05rem solid #dadada;
  padding-left: 1rem;
  outline: none;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  color:rgb(89, 89, 89);
}

/* section shipping */

.shipping {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 20%;
}

.ship {
  display: grid;
  grid-template-rows: repeat(6,1fr);
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px 30px;
}

.emailAddress {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

.email {
  width: 100%;
}

.firstName {
  grid-column: 1 / span 1;
  grid-row: 2 / 3;
}

.first {
  width: 100%;
}

.lastName {
  grid-column: 2 / span 1;
  grid-row: 2 / 3;
}

.last {
  width: 100%;
}

.firstAddress {
  grid-column: 1 / span 2;
  grid-row: 3 / 4;
}

.address1 {
  width: 100%;
}

.secondAddress {
  grid-column: 1 / span 1;
  grid-row: 4 / 5;
}

.address2 {
  width: 100%;
}

.cityAddress {
  grid-column: 2 / span 1;
  grid-row: 4 / 5;
}

.city {
  width: 100%;
}

select {
  height: 2.2rem;
  border: .05rem solid #dadada;
  outline: none;
  margin-bottom: 0.5rem;
  color:rgba(89, 89, 89);
  background-color: white;
  padding-left: 1rem;
}

.selectState {
  grid-column: 1 / span 2;
  grid-row: 5 / 6;
}

.state {
  width: 51%;
}

.zipNum {
  grid-column: 2 / span 1;
  grid-row: 5 / 6;
}

.zipcode {
  width: 100%;
}

.telephone {
  grid-column: 1/ span 2;
  grid-row: 6 / 7;
}

.tel {
  width: 100%;
}

/* section billing */

.billing {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.card {
  height: 35%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(3,1fr);
  grid-gap:5px 10px;
  align-items: center;
}

.tabs {
  list-style-type: none;
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  display: flex;
  padding-left: 0rem;
  font-size: 0.6rem;
  
}

.tab:first-child{
  width: 50%;
  text-align: center;
  padding-Top:5px;
  background-color:#9a9a9a;

}
.tab:first-child a {
  color: #fff;
}


.tab:nth-child(2){
  width: 50%;
  text-align: center;
  padding-Top:5px;
  background-color:#fff;
  color: #9a9a9a;
  border: 1px solid #dadada;
}

.tab:nth-child(2) a { 
  color: rgb(53, 53, 53);
}


.cardNumber {
  grid-column: 1 / span 2;
  grid-row: 2 / 3;
}

.cardNum {
  width: 80%;
}

.cardLogo {
  grid-column: 3 / span 1;
  grid-row: 2 / 3;
}

.creditCard {
  width: 100%;
}

.expMonth {
  grid-column: 1 / span 1;
  grid-row: 3 / 4;
}

.month {
  width: 100%;
}

.expYear {
  grid-column: 2 / span 1;
  grid-row: 3 / 4;
}

.year {
  width: 100%;
}

.cvv {
  grid-column: 3 / span 1;
  grid-row: 3 / 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cvvNum {
  width: 60%;
}

.cvvicon {
  width: 15%;
  align-items: center;
}

.cvvCard {
  width: 100%;
  height: 100%;
}

.giftOptions {
  height: 30%; 
  width: 100%;
  border: .05rem solid #dadada;
  border-radius: 5px;
  padding:10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1.2rem;
}

.giftIcon {
  margin-left: 20px;
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.gift1 {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.gift2{
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}

.giftOnly {
  width: 3%;
  margin-right: 1rem;
}

.giftSubscribe {
  width: 3%;
  margin-right: 1rem;
}


.giftText {
  color:rgba(128, 128, 128);
  width: 100%;
  font-size: 0.8rem;
}

.title {
  margin-left: 45%;
}

/* section summery */

.summary {
  margin: 2rem 0rem;
  height: 40%;
  margin-right: 10%;
}

.orderDetails {
  display: flex;
  justify-content: space-between;
}

.imageHolder {
  width: 25%;
}

.productDetail {
  width: 30%;
}

.priceDetail {
  width: 30%;
  margin-top: 5rem;
}

.priceTable {
  text-align: left;
  width: 100%;
}

.firstCol {
  width: 85%;
}

.secCol {
  width: 15%;
}

.titleLink {
  color: rgb(53, 54, 58);
}

.titleLink:hover {
  color: rgb(174, 76, 67);
}

.desc {
  display: flex;
  flex-direction: column;
  color: rgb(123, 123, 123);
}

.priceLabel {
  color: rgb(174, 76, 67);
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom:1px solid rgb(123, 123, 123);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.submitOrder {
  margin-bottom: 2rem;
  width: 28%;
  background-color: rgb(174, 76, 67);
  color: white;
  font-weight: bold;
  float: right;
  margin-right: 10%;
}

.submitOrder:hover {
  background-color: rgb(134, 28, 28);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/*responsive breakpoints*/

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .orderDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .shipping {
    width: 90%;
  }
  .billing {
    width: 100%;
  }
  .imageHolder {
    width: 100%;
  }
  .productDetail {
    width: 100%;
  }
  .priceDetail {
    width: 100%;
  }
  .submitOrder {
    width: 90%;
    float: left;
    height: 3rem;
    font-size: 1.5rem;
  }
  input {
    height: 2.2rem;
    font-size: 1rem;
  }
  select {
    height: 2.4rem;
    font-size: 1rem;
  }
  .tabs {
    font-size: 1rem;
  }
  .giftIcon {
    font-size: 1rem;
  }
  .giftText {
    font-size: 1rem;
  }
}

@media (min-width: 600px) and (max-width: 900px){
  .shipping {
    width: 45%;
  }
  .billing {
    width: 45%;
  }
  .submitOrder {
    width: 40%;
    height: 2.4rem;
    font-size: 1.2rem;
  }
}