.container {
  width: 80%;
  margin:2rem auto;
}

.top {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 30px;
}

.bestSeller {
  margin-bottom: 3rem;
}

@media (min-width: 800px) {
  .top {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}

.intro {
  margin-right: 5%;
  min-width: 300px;
}

.signup {
  min-width: 300px;
}

.desc {
  line-height: 25px;
  color: rgb(99, 99, 99);
}

.learnmore {
  text-decoration: underline;
  text-align: center;
  margin-left: 1rem;
}

.link{
  font-size: .8rem;
  font-weight: bold;
  color: rgb(53,53,53);
}

.link:hover{
  color: rgb(174, 76, 67);
}

