.magList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 16px 0px;
}

.magazine {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:23%;
}

.image {
  height:60%;
}

.title {
  height: 5%;
}

.priceTag {
  height: 5%;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.price {
  font-weight: bold;
  color: brown;
}

.subscribe {
  height: 10%;
  
}

.submit {
  width: 100%;
  background-color: rgb(174, 76, 67);
  color: white;
  font-weight: bold;
}


.submit:hover {
  background-color: rgb(134, 28, 28);
}

.img {
  width: 100%;
  height: 100%;
}