.magList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  flex-wrap: wrap;
  margin: 16px 0px;
  gap: 15px 30px;
  min-width: 400px;
}

.magazine {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.image {
  height:65%;
}

.title {
  height: 5%;
}

.priceTag {
  height: 5%;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.price {
  font-weight: bold;
  color: brown;
}

.subscribe {
  height: 10%;
}

.submit {
  width: 100%;
  background-color: rgb(174, 76, 67);
  color: white;
  font-weight: bold;
}


.submit:hover {
  background-color: rgb(134, 28, 28);
}

.img {
  width: 100%;
  height: 100%;
  border-radius: .67rem;
}