.container {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.aboutus {
  height: 10%;
}

.companyDesc {
  height: 80%;
  padding:10px;
  margin-bottom: 1rem;
}

.contact {
  height: 10%;
}

.title {
  color: rgb(51, 51, 51);
  font-style: italic;
  text-align: center;
}

.desc {
  line-height: 26px;
  color: rgb(99, 99, 99);
}

.desc::first-letter {
  font-size: 1.8rem;
  font-style: italic;
}

ul {
  line-height: 26px;
  color: rgb(99, 99, 99);
}

li {
  line-height: 26px;
  margin-bottom: 1rem;
}


img {
  width: 100%;
  text-align: center;
}

/* .initial {
  font-size: 1.8rem;
  font-style: italic;
} */