.email {
  border-bottom: 1px solid #dbdbdb;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  margin-right: 2rem;
  width: 35%;
}

.signup {
  background-color: rgb(174, 76, 67);
  color: rgb(255, 255, 255);
  width: 30%;
  padding-right: 10px;
  font-weight: bold;
}

.signup:hover {
  background-color: rgb(134, 28, 28);
}

.submitText {
  font-size: 0.8rem;
  color: rgb(99, 99, 99);
}

