.email {
  border: 1px solid #dbdbdb;
  margin-right: 2rem;
  width: 45%;
}

.signup {
  background-color: rgb(218, 125, 56);
  color: rgb(255, 255, 255);
  width: 35%;
  padding-right: 10px;
  font-weight: bold;
}

.signup:hover {
  cursor: pointer;
  background-color: rgb(183, 96, 10);
}

.submitText {
  font-size: 0.8rem;
  color: rgb(99, 99, 99);
}

