.container {
  margin-left: 15%;
  margin-right: 8%;
  background-color: burlywood;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding:2rem 10%;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 10%;
}

.payment {
  width: 30%;
}

.image {
  width: 30%;
}

.copyright {
  text-align: center;
  font-size: 0.6rem;
  color: gray;
  background-color: sandybrown;
  padding: 5px;
}